@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
/* Hide blinking cursor globally */
* {
  caret-color: transparent !important;
}

/* ✅ Show caret only in editable elements */
input,
textarea,
[contenteditable="true"],
.MuiInputBase-input,
.MuiOutlinedInput-input {
  caret-color: auto !important;
}
